<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.c3p0.max_size">30</property>
        <property name="hibernate.c3p0.max_statement">50</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.time_out">1800</property>
        <property name="hibernate.c3p0.validate">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">hrg2620141</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bg_osc_db?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <mapping resource="com/runtech/onlineshop/model/Bill.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/SmsContent.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/LabelWord.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/QuickOrder.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/CommodityBasePicture.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/PointConsumeLog.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/PageTemplate.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/Area.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/CommodityPayment.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/Admin.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/Survey.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/WorkFlow.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/UserContract.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/SurveyItem.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/CommodityPromotion.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/Content.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/PointLog.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/CommodityCategory.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/LabelContent.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/Regulation.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/Commodity.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/CommodityComment.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/CommodityPicture.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/UserDetail.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/CommodityOrderItem.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/CommodityDetail.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/CommodityBase.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/CommodityOrder.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/User.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/AdminRole.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/SmsSentLog.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/SmsGroup.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/SystemCode.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/AdminRoleModule.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/PageComponent.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/ReferralLog.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/UserMaintainLog.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/DeliveryContact.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/PageTemplateComponent.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/SmsContact.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/CommodityProvider.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/Coupon.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/UserLoginLog.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/QuickComment.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/LabelCommodity.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/ReportConfiguration.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/SiteModule.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/AdminModule.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/AdminLoginLog.hbm.xml" />
        <mapping resource="com/runtech/onlineshop/model/BillCommodityOrder.hbm.xml" />
    </session-factory>
</hibernate-configuration>
